<md-dialog aria-label="Terms of use" flex="70">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Terms of use</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content flex layout="row"  layout-align="center">
          <md-content  layout-margin flex="100">
            <p>Lorem ipsum dolor sit amet, feugait tincidunt vim id. Has et mandamus explicari. Sonet theophrastus pri ex, rebum legere delenit mei ad, at vis dicta homero. An vis nemore eripuit epicurei.</p>

            <p>Summo intellegat ea mea, at fastidii perpetua mei. At quidam dictas recusabo sit, modus utamur sententiae vis at. Ne paulo suscipit corrumpit quo, mei ea quis amet scaevola, ipsum doming id mei. Eius mentitum voluptaria te sit.</p>

            <p>Everti fabulas forensibus mei an, ferri sadipscing vel cu. Possit luptatum democritum pri an, ne verear vidisse platonem cum, ei dicta philosophia eam. At dolor dolores moderatius eos, usu ei tota graeco mandamus. Nam ne justo postulant, eam in consul singulis.</p>

            <p>Nec virtute maiorum at. Eos idque augue mundi at, eu vel alterum voluptaria. Ut vel oratio recteque. In quis nulla tacimates vis, duo case homero quaeque ut, omnis feugait ei est. Vis eu ubique postea accusata, aeterno appetere per at. Complectitur interpretaris mel ne, eam ne omnes laboramus.</p>

            <p>Has eu duis sententiae complectitur, pro sint porro eu. Mei te saperet persecuti, no fabellas postulant pri. Usu decore utinam dignissim cu, sea in vituperata reformidans, molestie phaedrum splendide est ut. Ea ludus melius nonumes nec, ea primis accumsan mel.</p>

            <p>Lorem ipsum dolor sit amet, feugait tincidunt vim id. Has et mandamus explicari. Sonet theophrastus pri ex, rebum legere delenit mei ad, at vis dicta homero. An vis nemore eripuit epicurei.</p>


          </md-content>
      </md-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" style="margin-right:20px;" >
        Agree
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>